<footer class="py-5">
    <div class="row mx-3 border-bottom">
        <div class="col-6 col-md-2 mb-3 ml-3 mr-3">
            <h5>Connect us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">X</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Facebook</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h5>Support</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Help Centre</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Complains</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Raise a ticket</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h5>others</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">T&C</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Privacy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Security</a></li>
            </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
            <div class="f-info">
                <div class="f-info-socials">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="f-info-brand">&copy; Codee Private Limited</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center mt-3">
        <p>&copy; 2025 Codee, Inc. All rights reserved.</p>
    </div>
</footer>